.auth-form-container {
    background-image: url('../images/photo_2025-05-19_15-22-27 (2).jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f44336;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button:hover {
    background-color: #d32f2f;
}

